---
import type { CallToAction, Widget } from '~/types';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

interface Props extends Widget {
  action?: CallToAction;
}

const { action = {} } = Astro.props;
---

<div class="flex flex-col lg:flex-row bg-secondary">
  <div class="basis-1/2 flex flex-col p-8 md:p-12 gap-3 md:gap-6">
    <div class="flex flex-col gap-3 md:gap-6 overflow-auto">
      <h2 class="">Renewing the Energy Sector</h2>
      <p class="text-lg">
        Partner with Markular for success. Our tools help you manage resources in the dynamic energy landscape, so you
        can drive your business forward.
      </p>
    </div>
    <div>
      <Button
        text="Book Demo"
        {...action || {}}
        variant="primary"
        class="mt-4 md:mb-0 text-base bg-white text-primary"
      />
    </div>
  </div>
  <div class="basis-1/2">
    <Image
      class="w-full h-full object-cover"
      widths={[400, 768, 1024, 2040]}
      sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
      loading="eager"
      src="~/assets/images/oil_rig_top_view.jpeg"
      alt="Top view of an oil rig at sea"
    />
  </div>
</div>
