---
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';
import SectionLayoutWithBackground from '~/layouts/SectionLayoutWithBackground.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';

import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Personnel Planner',
};
---

<Layout metadata={metadata}>
  <SectionLayoutWithBackground
    src="/src/assets/images/guy_pointing_at_wrist_watch.jpg"
    preload="jpg"
    blur={5}
    brightness={0.4}
    classes={{
      container: 'text-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex flex-col justify-center">
        <div class="flex flex-col gap-3 md:gap-6">
          <h1 class="text-secondary">Tailored Personnel Planner for Optimal Oilfield Service Operations</h1>
          <div class="">
            <p class="text-lg">
              Optimize staffing, manage complex rotations, and ensure the right expertise for every assignment with
              Markular.
            </p>
          </div>
          <div class="flex gap-4 mt-10 md:mt-4 md:mb-0">
            <Button
              variant="primary"
              text="Book Demo"
              href="#simplified-planning"
              class="text-base bg-white text-primary"
            />
            <Button variant="primary" text="Learn More" href="#" class="text-base" />
          </div>
        </div>
      </div>
    </div>
  </SectionLayoutWithBackground>

  <SectionLayout
    classes={{ background: 'bg-gradient-to-b from-myellow-100 via-white to-white' }}
    id="simplified-planning"
  >
    <div class="flex flex-col gap-12 md:gap-20">
      <div class="md:w-[48rem]">
        <p class="font-bold text-base mb-4">Simplified Planning for Offshore Rotations</p>
        <h2 class="mb-6">Optimize Your Staffing and Manage Complex Rotation Schemes</h2>
        <p class="text-lg">
          Manage complex rotation schemes and shift plans with ease, ensuring operational efficiency and compliance.
        </p>
      </div>
      <div class="flex flex-col gap-4 md:gap-12">
        <div class="flex flex-col md:flex-row gap-12">
          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Competence-Based Staffing</h4>
            <p class="text-base">
              Optimize workforce efficiency by assigning tasks based on skills and availability, and creating detailed
              job plans.
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Comprehensive Real-Time Overview</h4>
            <p class="text-base">
              Monitor staff allocations and job statuses in real-time. Avoid conflicting schedules and reduce downtime.
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Management with Ease and Efficiency</h4>
            <p class="text-base">
              Simplify complex rotation schemes with automation tools. Reduce manual effort and minimize errors.
            </p>
          </div>
        </div>
        <div>
          <Button variant="secondary" text="Learn More" class="mt-10 md:mt-4 md:mb-0 text-base" />
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:gap-8">
        <h3 class="basis-1/2">Effortlessly Optimize Your Offshore Rotations with Markular’s Planner Module</h3>
      </div>
      <div class="basis-1/2 flex flex-col gap-6 md:gap-8">
        <div class="basis-1/2 flex text-lg">
          Boost productivity and efficiency with our Planner module, specifically designed for oilfield service
          companies.
        </div>
        <div class="basis-1/2 flex gap-6">
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>35%</h2>
            <p class="text-base">Increase in workforce utilization.</p>
          </div>
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>40%</h2>
            <p class="text-base">Reduction in administrative tasks.</p>
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col lg:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:flex-row md:items-center gap-12 md:gap-20">
        <div class="flex flex-col gap-6">
          <h3>Streamline Your Resource Selection Process for Optimal Efficiency</h3>
          <p>
            Quickly identify and assign the best-suited personnel for each task, improving team performance and project
            outcomes.
          </p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col justify-center h-[40rem]">
        <Image
          class="min-w-full flex-1 object-cover"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/oil_rig_work_look_at_tablet.jpeg"
          alt="Person working on an oil rig looking at a tablet"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col gap-6 md:gap-20">
      <div class="flex flex-col md:flex-row gap-6 md:gap-20">
        <div class="basis-1/2 flex flex-col md:gap-8">
          <h3 class="basis-1/2">Quickly Access Your Schedule Overview and Find Available Job Personnel</h3>
        </div>
        <div class="basis-1/2 flex flex-col gap-6 md:gap-8 text-lg">
          Markular’s Planner module allows you to swiftly find qualified personnel, ensuring efficient responses to
          staffing needs. Featuring real-time data and detailed personnel profiles, this module helps minimize downtime
          and boost operational productivity.
        </div>
      </div>

      <div class="w-full flex justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={576}
          src="~/assets/images/hr_manager_scheduling_on_site.jpeg"
          alt="HR manager scheduling on site"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col lg:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex-1 flex flex-col justify-center gap-3 md:gap-6">
          <div class="flex flex-col gap-4 md:gap-8">
            <div>
              <p class="font-bold text-base mb-4">Comprehensive Reports, Travel Management, and Payroll Solutions</p>
              <h2 class="mb-6">
                Gain Insights, Streamline Travel, and Efficiently Manage Payroll with Markular’s Integrated Tools
              </h2>
              <p class="text-lg">
                Access comprehensive reports and analytics to monitor job performance, personnel utilization, and
                project progress. Our reporting tools offer real-time data, enabling informed decision-making and
                optimized operations.
              </p>
            </div>
            <div class="flex gap-6">
              <div class="basis-1/2 flex flex-col gap-4">
                <h6>Streamline Travel Management</h6>
                <p class="text-base">
                  Efficiently manage all aspects of offshore personnel travel with our travel management feature,
                  ensuring tasks are handled within budget.
                </p>
              </div>
              <div class="basis-1/2 flex flex-col gap-4">
                <h6>Efficient Payroll Management</h6>
                <p class="text-base">
                  Automate payroll processing for accurate and timely payments. Integrate cost tracking with timesheets
                  to ensure accuracy and minimize administrative workload.
                </p>
              </div>
            </div>
          </div>
          <div>
            <Button variant="secondary" text="Learn More" class="my-10 md:mt-4 md:mb-0 text-base" />
          </div>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col justify-center">
        <Image
          class="min-w-full h-[40rem]"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/project_schedule_week_visualization.jpeg"
          alt="Project schedule week visualization"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <CallToAction />
  </SectionLayout>
</Layout>
