---
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';

import HeroCollage from '~/components/widgets/HeroCollage.astro';

const metadata = {
  title: 'Personnel Planner',
};
---

<Layout metadata={metadata}>
  <HeroCollage
    classes={{ container: '' }}
    actions={[{ variant: 'primary', text: 'Learn More', href: '#' }]}
    images={[
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 600,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 300,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 200,
        width: 600,
      },
    ]}
  >
    <Fragment slot="title">Personnel Management Tailored for Oilfield Service Companies</Fragment>

    <Fragment slot="subtitle">
      With Markular’s Planner module, you can optimize your staffing, manage complex rotation schemes, and ensure the
      right expertise is always on the right assignment.
    </Fragment>
  </HeroCollage>

  <SectionLayout classes={{ container: '' }}>
    <div class="flex flex-col gap-12 md:gap-20">
      <div class="md:w-[48rem]">
        <p class="font-bold text-base mb-4">Simplified Planning for Offshore Rotations</p>
        <h2 class="mb-6">Optimize Your Staffing, Manage Complex Rotation Schemes</h2>
        <p class="text-lg">
          Manage complex rotation schemes and shift plans with ease, ensuring operational efficiency and compliance.
        </p>
      </div>
      <div class="flex flex-col gap-4 md:gap-12">
        <div class="flex flex-col md:flex-row gap-12">
          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Competence-Based Staffing</h4>
            <p class="text-base">
              Ensure the right personnel are assigned to the right tasks based on their skills and availability. This
              feature allows you to create detailed job plans that optimize your workforce efficiency.
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Comprehensive Real-Time Overview</h4>
            <p class="text-base">
              Monitor staff allocations and job statuses in real-time. Make on-the-fly adjustments to avoid conflicts
              and ensure smooth operations, improving overall productivity and reducing downtime
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Management with Ease and Efficiency</h4>
            <p class="text-base">
              Simplify complex rotation schemes with our automated tools. Reduce manual effort and minimize errors,
              ensuring seamless personnel management.
            </p>
          </div>
        </div>
        <div>
          <Button
            variant="primary"
            text="Learn More"
            class="mt-10 md:mt-4 md:mb-0 text-base bg-transparent text-primary"
          />
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:gap-8">
        <h3 class="basis-1/2">Schedule offshore rotation with Markular's planner module</h3>
      </div>
      <div class="basis-1/2 flex flex-col gap-6 md:gap-8">
        <div class="basis-1/2 flex text-lg">
          Enhance your productivity and efficiency with our Planner module tailored for oilfield service companies.
        </div>
        <div class="basis-1/2 flex gap-6">
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>35%</h2>
            <p class="text-base">Increase in workforce utilization.</p>
          </div>
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>40%</h2>
            <p class="text-base">Reduction in administrative tasks.</p>
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:flex-row md:items-center gap-12 md:gap-20">
        <div class="flex flex-col gap-6">
          <h3>Streamline your resource selection process</h3>
          <p>
            Quickly identify and assign the best-suited personnel for each task, improving team performance and project
            outcomes.
          </p>
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col gap-6 md:gap-20">
      <div class="flex flex-col md:flex-row gap-6 md:gap-20">
        <div class="basis-1/2 flex flex-col md:gap-8">
          <h3 class="basis-1/2">Quickly access your schedule overview and find available personnel for the job</h3>
        </div>
        <div class="basis-1/2 flex flex-col gap-6 md:gap-8 text-lg">
          Markular’s Planner module enables you to quickly locate available personnel with the right qualifications,
          ensuring you can respond to staffing needs swiftly and efficiently. With real-time data and comprehensive
          personnel profiles, you can minimize downtime and enhance operational productivity.
        </div>
      </div>

      <div class="w-full flex justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={576}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex flex-col gap-4 md:gap-8">
          <div>
            <p class="font-bold text-base mb-4">Comprehensive Reports, Travel Management, and Payroll Solutions</p>
            <h2 class="mb-6">
              Gain insights, streamline travel, and manage payroll efficiently with Markular’s integrated tools.
            </h2>
            <p class="text-lg">
              Access a wide range of reports and analytics to monitor job performance, personnel utilization, and
              project progress. Our detailed reporting tools provide real-time data, helping you make informed decisions
              and optimize operations.
            </p>
          </div>
          <div class="flex gap-6">
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Streamline Travel Management</h6>
              <p class="text-base">
                Manage all aspects of travel for offshore personnel. Our travel management feature ensures that all
                travel-related tasks are handled efficiently and within budget.
              </p>
            </div>
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Efficient Payroll Management</h6>
              <p class="text-base">
                Automate payroll processing with accurate and timely payments. Cost tracking integrated with timesheets
                for accuracy and minimum administrative workload.
              </p>
            </div>
          </div>
        </div>
        <div>
          <Button
            variant="primary"
            text="Learn More"
            class="my-10 md:mt-4 md:mb-0 text-base bg-transparent text-primary"
          />
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row">
      <div class="basis-1/2 flex flex-col py-3 md:p-12 gap-3 md:gap-6">
        <div class="flex flex-col gap-3 md:gap-6">
          <h2 class="">Markular: Your Trusted Partner Innovating the Energy Sector</h2>
          <p class="text-lg">
            Our goal is to be a trusted partner in your company's success, providing the tools you need to manage your
            resources effectively in the dynamic energy landscape. With Markular, you can focus on driving your business
            forward.
          </p>
        </div>
        <div>
          <Button variant="primary" text="Learn More" class="my-10 md:mt-4 md:mb-0 text-base" />
        </div>
      </div>
      <div class="basis-1/2 flex items-center md:py-12">
        <Image
          class="min-w-full h-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <!-- BlogLatestPost Widget **************** -->

  <!-- <BlogLatestPosts
    id="blog"
    title="Stay informed with AstroWind's blog"
    information={`Explore our collection of articles, guides, and tutorials on web development, design trends, and using AstroWind effectively for your projects.`}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </BlogLatestPosts> -->
</Layout>
