---
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';

import HeroCollage from '~/components/widgets/HeroCollage.astro';

const metadata = {
  title: 'Competency Training, Tracking & Assessment',
};
---

<Layout metadata={metadata}>
  <HeroCollage
    classes={{ container: '' }}
    actions={[{ variant: 'primary', text: 'Discover More', href: '#' }]}
    images={[
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 600,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 300,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 200,
        width: 600,
      },
    ]}
  >
    <Fragment slot="title">Empower Your Crew with Industry-Leading Training Solutions</Fragment>

    <Fragment slot="subtitle">
      Our Competency Training, Tracking and Assessment System is designed to meet the rigorous demands of the oil & gas,
      energy, and maritime sectors. Ensure your crew is certified, compliant, and ready for offshore challenges.
    </Fragment>
  </HeroCollage>

  <SectionLayout classes={{ container: '' }}>
    <div class="flex flex-col gap-12 md:gap-20">
      <div class="md:w-[48rem]">
        <p class="font-bold text-base mb-4">Comprehensive Certification Management</p>
        <h2 class="mb-6">Streamline Training and Certification Processes</h2>
        <p class="text-lg">
          Our Software provides an integrated approach to managing certification training and compliance, ensuring your
          crew is always prepared:
        </p>
      </div>
      <div class="flex flex-col gap-4 md:gap-12">
        <div class="flex flex-col md:flex-row gap-12">
          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Certification Tracking</h4>
            <p class="text-base">
              Keep track of all crew certifications with real-time updates and automated reminders to ensure compliance.
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Training & Assessment</h4>
            <p class="text-base">
              Bring your training programs online with a user-friendly interface that makes learning accessible and
              engaging. Engaging assessments and knowledge validation exercises to ensure knowledge retention and
              compliance.
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Approval Mechanisms</h4>
            <p class="text-base">
              Ensure all training programs follow industry standards and practices, with required approval mechanisms in
              place, before your crew heads offshore.
            </p>
          </div>
        </div>
        <div>
          <Button
            variant="primary"
            text="Discover More"
            class="mt-10 md:mt-4 md:mb-0 text-base bg-transparent text-primary"
          />
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:gap-8">
        <h3 class="basis-1/2">Built for the Future of Your Industry</h3>
      </div>
      <div class="basis-1/2 flex flex-col gap-6 md:gap-8">
        <div class="basis-1/2 flex text-lg">
          Evolves with your needs, adapting to new regulations and industry standards, ensuring you stay ahead.
        </div>
        <div class="basis-1/2 flex gap-6">
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>Scalable Solutions</h2>
            <p class="text-base">
              Grow your operations with a platform that scales effortlessly with your expanding workforce and training
              needs.
            </p>
          </div>
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>Continuous Improvement</h2>
            <p class="text-base">
              Benefit from regular updates that introduce new features, enhance functionality, and improve security.
            </p>
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:flex-row md:items-center gap-12 md:gap-20">
        <div class="flex flex-col gap-6">
          <h3>Seamless Integration and Customization</h3>
          <p>
            Integrate our system with your existing infrastructure and customize it to meet the unique needs of your
            organization. Ensure a smooth transition and maximize the value of your investment.
          </p>
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Offshore training session"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col gap-6 md:gap-20">
      <div class="flex flex-col md:flex-row gap-6 md:gap-20">
        <div class="basis-1/2 flex flex-col md:gap-8">
          <h3 class="basis-1/2">Advanced Reporting and Analytics</h3>
        </div>
        <div class="basis-1/2 flex flex-col gap-6 md:gap-8 text-lg">
          Gain valuable insights through comprehensive reports and analytics, enabling better decision-making and
          strategic planning.
        </div>
      </div>

      <div class="w-full flex justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={576}
          src="~/assets/images/control_room.png"
          alt="Analytics dashboard"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex flex-col gap-4 md:gap-8">
          <div>
            <p class="font-bold text-base mb-4">Partner with Us</p>
            <h2 class="mb-6">Innovate and Lead in the Energy Sector</h2>
            <p class="text-lg">
              Join the leading companies in the oil & gas, energy, and maritime sectors who trust our Competency
              Tracking and Training System to keep their crews certified and ready for the challenges ahead.
            </p>
          </div>
          <div class="flex gap-6">
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Real-time Compliance</h6>
              <p class="text-base">
                Ensure your crew’s certifications are always up-to-date with real-time tracking and automated compliance
                checks.
              </p>
            </div>
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Efficient Training Management</h6>
              <p class="text-base">
                Optimize your training processes and reduce administrative overhead with our user-friendly platform.
              </p>
            </div>
          </div>
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col md:flex-row bg-secondary">
      <div class="basis-1/2 flex flex-col p-8 md:p-12 gap-3 md:gap-6">
        <div class="flex flex-col gap-3 md:gap-6">
          <h2 class="">Your Trusted Partner Innovating the Energy Sector</h2>
          <p class="text-lg">
            Our goal is to be a trusted partner in your company's success, providing the tools you need to manage your
            resources effectively in the dynamic energy landscape. With Markular, you can focus on driving your business
            forward.
          </p>
        </div>
        <div>
          <Button variant="primary" text="Learn More" class="mt-4 md:mb-0 text-base bg-white text-primary" />
        </div>
      </div>
      <div class="basis-1/2 flex flex-col justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={437}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>
</Layout>
