---
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';

import HeroCollage from '~/components/widgets/HeroCollage.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Time Tracker',
};
---

<Layout metadata={metadata}>
  <HeroCollage
    actions={[{ variant: 'primary', text: 'Learn More', href: '#' }]}
    images={[
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 600,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 300,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 200,
        width: 600,
      },
    ]}
  >
    <Fragment slot="title">Unlock the Power of Efficient Time Management</Fragment>

    <Fragment slot="subtitle">
      Our portal offers a wide range of features tailored to meet the diverse needs of your organization. From time
      tracking to leave management, explore how each feature can enhance your operations and prepare your business for
      growth.
    </Fragment>
  </HeroCollage>

  <SectionLayout classes={{ background: 'bg-gradient-to-b from-myellow-100 via-white to-white' }}>
    <div class="flex flex-col gap-12 md:gap-20">
      <div class="md:w-[48rem]">
        <p class="font-bold text-base mb-4">Comprehensive Time Tracking</p>
        <h2 class="mb-6">Simplify Time Logging and Approval</h2>
        <p class="text-lg">
          Efficiently manage work hours for both offshore and onshore employees with our intuitive timesheet features:
        </p>
      </div>
      <div class="flex flex-col gap-4 md:gap-12">
        <div class="flex flex-col md:flex-row gap-12">
          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Offshore</h4>
            <p class="text-base">
              Ensure accurate tracking and reporting of hours worked in offshore locations, helping your remote teams
              stay productive and accountable.
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Onshore</h4>
            <p class="text-base">
              Provide an easy-to-use interface for logging work hours onshore, ensuring your local teams can focus on
              their tasks without administrative burdens.
            </p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Timesheet Approval</h4>
            <p class="text-base">
              Enable managers to review and approve timesheets seamlessly, ensuring accurate payroll processing and
              project management.
            </p>
          </div>
        </div>
        <div>
          <Button variant="secondary" text="Learn More" class="mt-10 md:mt-4 md:mb-0 text-base" />
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:gap-8">
        <h3 class="basis-1/2">Designed to Evolve with Your Business</h3>
      </div>
      <div class="basis-1/2 flex flex-col gap-6 md:gap-8">
        <div class="basis-1/2 flex text-lg">
          Our Time Tracker is built to handle your expanding needs, whether you're adding more employees, projects, or
          new locations.
        </div>
        <div class="basis-1/2 flex gap-6">
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>Scalable Infrastructure</h2>
            <p class="text-base">Scalable solutions that grow alongside you.</p>
          </div>
          <div class="basis-1/2 flex flex-col gap-4">
            <h2>Regular Updates%</h2>
            <p class="text-base">
              Regular software updates that introduce new features, enhance existing functionalities, and ensure robust
              security.
            </p>
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:flex-row md:items-center gap-12 md:gap-20">
        <div class="flex flex-col gap-6">
          <h3>Efficient Leave Management</h3>
          <p>
            Streamline leave reporting and scheduling to keep your operations running smoothly. Report and manage sick
            leaves effortlessly, maintaining accurate records for better leave management and planning.
          </p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col justify-center h-[40rem]">
        <Image
          class="min-w-full flex-1"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col gap-6 md:gap-20">
      <div class="flex flex-col md:flex-row gap-6 md:gap-20">
        <div class="basis-1/2 flex flex-col md:gap-8">
          <h3 class="basis-1/2">Seamlessly Integrate and Customize Your Time Tracker Experience</h3>
        </div>
        <div class="basis-1/2 flex flex-col gap-6 md:gap-8 text-lg">
          Designed with flexibility and adaptability in mind, allowing you to integrate and customize it according to
          your specific needs.
        </div>
      </div>

      <div class="w-full flex justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={576}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex-1 flex flex-col justify-center gap-3 md:gap-6">
          <div class="flex flex-col gap-4 md:gap-8">
            <div>
              <p class="font-bold text-base mb-4">Innovate and Grow with Markular</p>
              <h2 class="mb-6">Gain Insights for Better Decision Making</h2>
              <p class="text-lg">
                Leverage powerful reporting tools to gain valuable insights and make informed decisions.
              </p>
            </div>
            <div class="flex gap-6">
              <div class="basis-1/2 flex flex-col gap-4">
                <h6>Hours Report</h6>
                <p class="text-base">
                  Generate detailed reports on employee work hours, aiding in performance assessment, resource planning,
                  and identifying productivity trends.
                </p>
              </div>
              <div class="basis-1/2 flex flex-col gap-4">
                <h6>Bonus Report</h6>
                <p class="text-base">
                  Track bonus eligibility, calculate bonus amounts, and generate comprehensive reports to recognize and
                  reward your top performers.
                </p>
              </div>
            </div>
          </div>
          <div>
            <Button variant="secondary" text="Learn More" class="mt-4 md:mb-0 text-base" />
          </div>
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <CallToAction />
  </SectionLayout>
</Layout>
