---
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';

import HeroCollage from '~/components/widgets/HeroCollage.astro';

const metadata = {
  title: 'Logistics and Equipment Rental',
};
---

<Layout metadata={metadata}>
  <HeroCollage
    classes={{ container: '' }}
    actions={[{ variant: 'primary', text: 'Learn More', href: '#' }]}
    images={[
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 600,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 500,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 300,
        width: 600,
      },
      {
        src: 'https://images.unsplash.com/photo-1580481072645-022f9a6dbf27?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=2070&q=80',
        alt: 'AstroWind Hero Image',
        height: 200,
        width: 600,
      },
    ]}
  >
    <Fragment slot="title">Project control from contract to billing</Fragment>

    <Fragment slot="subtitle">
      Tools is a enterprise resource planning (ERP) system designed to streamline how you manage your projects and
      equipment rentals. Experience unparalleled management capabilities across multiple locations and projects.
    </Fragment>
  </HeroCollage>

  <SectionLayout classes={{ container: '' }}>
    <div class="flex flex-col gap-12 md:gap-20">
      <div class="md:w-[48rem]">
        <p class="font-bold text-base mb-4">Streamline</p>
        <h2 class="mb-6">Streamline Your Projects with Tools</h2>
        <p class="text-lg">
          Tools is a premier ERP module offering a range of features designed to optimize project management, equipment
          rental, and task execution. With our cutting-edge software solutions, medium to large enterprises can
          streamline their operations and maximize productivity.
        </p>
      </div>
      <div class="flex flex-col gap-4 md:gap-12">
        <div class="flex flex-col md:flex-row gap-12">
          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Financial Control</h4>
            <p class="text-base">Maintain accurate and real-time financial oversight. Efficient budget management.</p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>ERP Integration</h4>
            <p class="text-base">From purchase order to shipping, we integrate to all ERP systems.</p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>KPI Analysis</h4>
            <p class="text-base">Performance tracking made easy with detailed KPI analysis.</p>
          </div>
        </div>
        <div>
          <Button
            variant="primary"
            text="Learn More"
            class="mt-10 md:mt-4 md:mb-0 text-base bg-transparent text-primary"
          />
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:gap-8">
        <h3 class="basis-1/2">Equipment Assembly</h3>
      </div>
      <div class="basis-1/2 flex flex-col gap-6 md:gap-8">
        <div class="basis-1/2 flex text-lg">
          Efficiently prepare and assemble the necessary equipment for each job. Equipment packages can be sourced from
          purchase orders, the experience database, or standardized equipment lists based on job type.
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:flex-row md:items-center gap-12 md:gap-20">
        <div class="flex flex-col gap-6">
          <h3>Job Performance Control</h3>
          <p>
            Monitor job performance through a single screen where managers and coordinators get a clear overview,
            ensuring projects stay on track and all tasks are completed.
          </p>
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col gap-6 md:gap-20">
      <div class="flex flex-col md:flex-row gap-6 md:gap-20">
        <div class="basis-1/2 flex flex-col md:gap-8">
          <h3 class="basis-1/2">Experience Database</h3>
        </div>
        <div class="basis-1/2 flex flex-col gap-6 md:gap-8 text-lg">
          Leverage an extensive experience database to improve project processes and profitability. Project managers
          gain insights into previous project challenges and solutions, enhancing cognitive learning for employees.
        </div>
      </div>

      <div class="w-full flex justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={576}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex flex-col gap-4 md:gap-8">
          <div>
            <p class="font-bold text-base mb-4">Efficiency</p>
            <h2 class="mb-6">Tools: module-based enterprise resource planning</h2>
            <p class="text-lg">
              Tools ensures full control in all project phases, processes are put into system and create visibility and
              simplicity to complext operations.
            </p>
          </div>
          <div class="flex gap-6">
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Simplify Business Management</h6>
              <p class="text-base">
                Get control right from contracting to billing. Each department and staff get full control of their task.
              </p>
            </div>
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Minimize Human Error</h6>
              <p class="text-base">
                The Tools module enables the users to learn from the past and puts it into a system for increased value
                creation.
              </p>
            </div>
          </div>
        </div>
        <div>
          <Button
            variant="primary"
            text="Learn More"
            class="my-10 md:mt-4 md:mb-0 text-base bg-transparent text-primary"
          />
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col md:flex-row bg-secondary">
      <div class="basis-1/2 flex flex-col p-8 md:p-12 gap-3 md:gap-6">
        <div class="flex flex-col gap-3 md:gap-6">
          <h2 class="">Your Trusted Partner Innovating the Energy Sector</h2>
          <p class="text-lg">
            Our goal is to be a trusted partner in your company's success, providing the tools you need to manage your
            resources effectively in the dynamic energy landscape. With Markular, you can focus on driving your business
            forward.
          </p>
        </div>
        <div>
          <Button variant="primary" text="Learn More" class="mt-4 md:mb-0 text-base bg-white text-primary" />
        </div>
      </div>
      <div class="basis-1/2 flex flex-col justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={437}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>
</Layout>
