---
import Features2 from '~/components/widgets/Features2.astro';
import Features3 from '~/components/widgets/Features3.astro';
import Hero from '~/components/widgets/Hero.astro';
import HeroTextImage from '~/components/widgets/HeroTextImage.astro';
import HeroTextLeftRight from '~/components/widgets/HeroTextLeftRight.astro';
import Layout from '~/layouts/PageLayout.astro';

const metadata = {
  title: 'About us',
};
---

<Layout metadata={metadata}>
  <HeroTextLeftRight
    textLeft="Renewing the Energy Sector"
    textRight="At Markular, we're on a mission to make your workday smoother and more productive. We understand that managing resources, coordinating personnel, and handling HR tasks can be complex and time-consuming. That's why we've created a platform that puts simplicity and intuition at the forefront."
  />

  <HeroTextImage
    actions={[{ variant: 'secondary', text: 'Learn More', href: '#features', icon: '' }]}
    image={{ src: '~/assets/images/rig.png', alt: 'Person crossing a rig bridge' }}
    classes={{
      container: 'bg-gradient-to-b from-myellow-100 via-white to-white',
    }}
  >
    <Fragment slot="title"> Your Daily Operations Flow Effortlessly with Markular</Fragment>

    <Fragment slot="subtitle">
      <p>
        In an industry where efficiency and precision are paramount, we understand the challenges faced by energy
        companies in managing their resources effectively. That's why we've developed the Markular platform – a
        comprehensive tool designed to meet the unique needs of energy sector operations.
      </p>
    </Fragment>
  </HeroTextImage>

  <Hero image={{ src: '~/assets/images/control_room.png', alt: 'Person in a control room' }}>
    <!-- <Fragment slot="title"> Streamline HR, Scheduling, and Resource Coordination with Markular</Fragment> -->

    <Fragment slot="content">
      <section class="flex gap-12 md:gap-20">
        <h2 class="basis-1/2">
          Providing Clear Visibility into Company Resources to Optimize Utilization and Planning
        </h2>
        <div class="basis-1/2 flex flex-col md:gap-8">
          <div class="flex flex-col gap-4">yolo</div>
          <div class="flex gap-6">yolo</div>
        </div>
      </section>
    </Fragment>
  </Hero>
</Layout>
