---
import { Icon } from 'astro-icon/components';
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Case Studies',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <SectionLayout
    classes={{
      background: 'bg-gradient-to-br from-myellow-300 via-myellow-100 to-myellow-100',
      container: 'py-0 md:py-0 px-0 md:px-0 max-w-full',
    }}
  >
    <div class="flex flex-col">
      <div class="basis-1/2">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={480}
          src="~/assets/images/oil_rig.jpeg"
          alt="Oil rig in the ocean"
        />
      </div>
      <div class="basis-1/2 flex self-center px-6 md:px-16 py-16 md:py-20 max-w-[1440px]">
        <div class="flex flex-col lg:flex-row md:items-center gap-12 md:gap-20">
          <div class="basis-1/2"><h1>Enhancing Efficiency and Reducing Costs in Offshore Operations</h1></div>
          <div class="basis-1/2 flex flex-col md:gap-6">
            <p>
              In the offshore services industry, managing a large workforce and coordinating equipment can be
              challenging. Markular offers comprehensive solutions that streamline operations, improve accuracy, and
              reduce costs. We introduce how oilfield service companies can benefit from Markular:
            </p>

            <div>
              <Button variant="secondary" text="Learn More" class="mt-4 md:mb-0 text-base" />
            </div>
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col xl:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col justify-center h-[40rem]">
        <Image
          class="min-w-full flex-1"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/oil_rig_2.jpg"
          alt="Oil rig in the ocean"
        />
      </div>
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex flex-col gap-4 md:gap-8">
          <div>
            <h2 class="mb-6">Overcoming Operational Challenges in Maritime and Oilfield Services</h2>
            <p class="text-lg">
              Oilfield service companies often face significant challenges in managing personnel, tracking time, and
              coordinating equipment rentals. Effective management is crucial for maintaining productivity and reducing
              operational costs.
            </p>
          </div>
          <div class="flex gap-6">
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Maritime Sector</h6>
              <p class="text-base">
                The maritime sector is known for complex logistics and coordination of personnel. Robust systems are
                needed for personnel management, time tracking, and equipment rental, addressing challenges like
                disjointed systems, manual reporting, and data duplication.
              </p>
            </div>
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Oil and Gas Companies</h6>
              <p class="text-base">
                Oil and gas companies face unique challenges due to their operational scale, including managing a large,
                distributed workforce and coordinating specialized equipment. Precise scheduling and resource allocation
                are critical to maintaining safety standards and operational efficiency.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col xl:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex flex-col gap-4 md:gap-8">
          <div>
            <p class="font-bold text-base mb-4">Solutions</p>
            <h2 class="mb-6">Tailored Solutions for the Maritime and Oilfield Sectors</h2>
            <p class="text-lg">
              Markular offers a comprehensive suite of modules designed to streamline operations, enhance efficiency,
              and reduce costs in both the maritime and oilfield services sectors.
            </p>
          </div>
          <div class="flex gap-6">
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Optimize Resource Allocation</h6>
              <p class="text-base">
                Markular enhances resource allocation by providing real-time visibility into personnel and equipment
                availability, ensuring optimal deployment for projects. This leads to increased efficiency, reduced
                downtime, and significant cost savings.
              </p>
            </div>
            <div class="basis-1/2 flex flex-col gap-4">
              <h6>Exceed Expectation</h6>
              <p class="text-base">
                With Markular you can deliver exceptional operational efficiency and reliability. Its comprehensive and
                integrated platform ensures seamless management.
              </p>
            </div>
          </div>
        </div>

        <div>
          <Button variant="secondary" text="Learn More" class="mt-4 md:mb-0 text-base" />
        </div>
      </div>
      <div class="basis-1/2 flex flex-col justify-center">
        <Image
          class="min-w-full h-[40rem]"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/worker.webp"
          alt="Heavy duty worker handling equipment"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/shipping.jpg"
          alt="Shipping containers on a dock"
        />
      </div>

      <div class="basis-1/2 flex flex-col md:flex-row md:items-center gap-12 md:gap-20">
        <div class="flex flex-col gap-6">
          <h3>Trusted by Leading Oilfield Service Companies</h3>
          <p class="text-lg">
            Markular is trusted by top oilfield service companies for its ability to streamline complex operations and
            enhance efficiency. Renowned for its reliability and comprehensive features, Markular helps these companies
            achieve their operational goals and maintain high standards of performance.
          </p>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="relative max-w-sm md:max-w-4xl mx-auto px-6 md:px-4 py-6">
      <div class="bg-accent text-left p-6 md:p-16">
        <div class="flex items-center justify-evenly mb-9">
          <Image
            class=""
            width={120}
            height={50}
            widths={[400, 768]}
            layout="fixed"
            src="~/assets/images/weatherford.png"
            alt="Weatherford logo"
          />
        </div>
        <h3 class="text-xl md:text-2xl text-center">
          With Markular, you join the ranks of leading oilfield service companies<span class="hidden md:inline-block">
            like Weatherford and Archer</span
          >. Sign up today and gain a competitive edge for tomorrow!
        </h3>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col gap-6 md:gap-20">
      <div class="flex flex-col md:flex-row gap-6 md:gap-20">
        <div class="basis-1/2 flex flex-col md:gap-8">
          <h3 class="basis-1/2">Empowering Excellence while Increasing Efficiency</h3>
        </div>
        <div class="basis-1/2 flex flex-col gap-6 md:gap-8">
          <div class="basis-1/2 flex text-lg flex-col gap-4">
            Markular greatly increase operational efficiency while providing coordinators and operational personnel the
            overview they need to excel in the field.
          </div>
          <div class="basis-1/2 flex gap-6">
            <div class="basis-1/2 flex flex-col gap-4">
              <Icon name="marktopright" class="text-[3rem] text-primary" />
              <h6>84%</h6>
              <p class="text-base">
                increase in team productivity through optimized resource allocation and management,
              </p>
            </div>
            <div class="basis-1/2 flex flex-col gap-4">
              <Icon name="marktopright" class="text-[3rem] text-primary" />
              <h6>72%</h6>
              <p class="text-base">decrease in HR tasks through our comprehensive management tools.</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <CallToAction
      action={{
        href: '#',
      }}
    />
  </SectionLayout>
</Layout>
