---
import { Icon } from 'astro-icon/components';
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

const metadata = {
  title: 'Markular',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <SectionLayout
    classes={{
      container: 'pt-9 bg-gradient-to-br from-myellow-300 via-myellow-100 to-myellow-100',
    }}
  >
    <div class="flex flex-col items-center gap-12 md:gap-20">
      <div class="md:w-[48rem] flex flex-col gap-2 md:gap-6 items-start md:items-center">
        <div class="flex flex-col gap-4 md:gap-6 text-start md:text-center">
          <h1>Streamline HR, Scheduling, and Resource Coordination with Markular</h1>

          <p class="text-lg">
            Say goodbye to fragmented systems, multiple spreadsheets, and manual reporting. With Markular, you get an
            intuitive system that streamlines your processes while minimizing errors. Managing your resources has never
            been easier! Empower your business with Markular’s comprehensive solution for seamless HR and operations
            management.
          </p>
        </div>
        <div>
          <Button variant="primary" text="Learn More" href="#" class="mt-4 md:mb-0 text-base" />
        </div>
      </div>
      <Image
        class="min-w-full"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        width={600}
        height={600}
        src="~/assets/images/control_room.png"
        alt="Control room with a person in it"
      />
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: 'bg-gradient-to-b from-myellow-100 via-myellow-50 to-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex flex-col justify-center">
        <div class="flex flex-col gap-3 md:gap-6">
          <div class="flex flex-col gap-5 md:gap-6">
            <div>
              <Icon name="marktopright" class="text-[5rem] text-primary" />
            </div>
            <div class="flex flex-col gap-5 md:gap-6">
              <h2>Transform Your Workforce Planning and Management</h2>
              <p class="text-lg">
                Struggling with fragmented systems and manual reporting? Markular streamlines HR and operations,
                unifying employee management, shift planning, and time tracking. Simplify your business processes with
                our intuitive platform, designed for medium to large enterprises.
              </p>
            </div>
          </div>
          <div>
            <Button variant="secondary" text="Learn More" class="mt-4 md:mb-0 text-base" />
          </div>
        </div>
      </div>

      <div class="basis-1/2 flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={640}
          src="~/assets/images/rig.png"
          alt="Person crossing a rig bridge"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={640}
          src="~/assets/images/office-hang.png"
          alt="2 people hanging out in the office"
        />
      </div>

      <div class="basis-1/2 flex flex-col justify-center">
        <div class="flex flex-col gap-3 md:gap-6">
          <div class="flex flex-col gap-5 md:gap-6">
            <div>
              <Icon name="markperson" class="text-[5rem] text-primary" />
            </div>
            <div class="flex flex-col gap-5 md:gap-6">
              <h2>Move Your Workforce into the Digital Future with Markular</h2>
              <p class="text-lg">
                Digitalizing your planning and operational processes requires transforming how your team works. Markular
                helps you create a fully collaborative, cloud-based workspace that seamlessly converts your plans into
                action, ensuring perfect execution.
              </p>
            </div>
          </div>
          <div>
            <Button variant="secondary" text="Learn More" class="mt-4 md:mb-0 text-base" />
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: 'text-white bg-gradient-to-br from-myellow-900 via-myellow-900 to-myellow-950',
    }}
  >
    <div class="flex flex-col gap-12">
      <div class="text-center md:w-[48rem] self-center">
        <p class="font-bold text-base mb-3 md:mb-4">Maximize</p>
        <h2 class="mb-5 md:mb-6 text-white">Team Efficiency and Productivy</h2>
        <p class="text-base">
          Optimize your business with a platform designed to streamline team management and boost productivity.
        </p>
      </div>
      <div class="flex flex-col md:flex-row gap-6 md:gap-8">
        <div class="flex flex-col gap-5 p-6 bg-myellow-950">
          <div class="flex flex-col gap-5">
            <div>
              <Icon name="markright" class="text-[3rem] text-secondary" />
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="text-white">Efficient Resource Allocation</h3>
              <p class="text-base">Optimize resource allocation with precision.</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Button variant="link" text="Learn More" href="#" class="text-base" />
            <Icon name="tabler:chevron-right" class="text-2xl text-secondary" />
          </div>
        </div>
        <div class="flex flex-col gap-5 p-6 bg-myellow-950">
          <div class="flex flex-col gap-5">
            <div>
              <Icon name="markup" class="text-[3rem] text-secondary" />
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="text-white">Time Tracking and HR Tools</h3>
              <p class="text-base">Simplify performance management with powerful HR tools.</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Button variant="link" text="Learn More" href="#" class="text-base" />
            <Icon name="tabler:chevron-right" class="text-2xl text-secondary" />
          </div>
        </div>
        <div class="flex flex-col gap-5 p-6 bg-myellow-950">
          <div class="flex flex-col gap-5">
            <div>
              <Icon name="marktopright" class="text-[3rem] text-secondary" />
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="text-white">Competency Management</h3>
              <p class="text-base">Ensure certificates are up to date with comprehensive overview.</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Button variant="link" text="Learn More" href="#" class="text-base" />
            <Icon name="tabler:chevron-right" class="text-2xl text-secondary" />
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      container: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-5 md:gap-6">
        <div class="flex flex-col gap-4 md:gap-8">
          <div>
            <p class="font-bold text-base mb-4">Innovative</p>
            <h2 class="mb-6">Experience the Power of Markular's Cutting-Edge Solutions</h2>
            <p class="text-lg">
              Markular's operational management suite is transforming operations in the oil and gas sector. Our platform
              integrates seamlessly with your existing systems, delivering measurable improvements across your entire
              organization.
            </p>
          </div>
          <div class="flex flex-col gap-2">
            <h2>Increase operational efficiency by 20%</h2>
            <p class="text-base">
              Companies using integrated management solutions such as Markular, report up to 20% improvement in
              operational efficiency.
            </p>
          </div>
        </div>
        <div>
          <Button variant="secondary" text="Learn More" class="mt-4 md:mb-0 text-base" />
        </div>
      </div>

      <div class="basis-1/2 w-full xl:max-w-[75rem] flex flex-col justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <section class=`bg-white mx-auto sm:pb-[14rem] relative not-prose`>
    <div class="relative max-w-sm md:max-w-4xl mx-auto px-6 md:px-4 py-6">
      <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
      <div class="bg-accent text-left p-6 md:p-16">
        <div class="flex items-center justify-evenly mb-9">
          <Image
            class=""
            width={120}
            height={50}
            widths={[400, 768]}
            layout="fixed"
            src="~/assets/images/weatherford.png"
            alt="Weatherford logo"
          />
        </div>
        <h5 class="font-semibold text-lg md:text-xl text-center">
          With Markular, you join the ranks of leading oilfield service companies<span class="hidden md:inline-block">
            like Weatherford and Archer</span
          >. Sign up today and gain a competitive edge for tomorrow!
        </h5>

        <div class="flex flex-row justify-center gap-[1.5rem] mt-10">
          <div class="flex my-auto">
            <Button variant="primary" href="#" text="Contact Us" class="w-full text-sm" />
          </div>
        </div>
      </div>
    </div>
  </section>

  <SectionLayout
    classes={{
      container: '',
    }}
  >
    <div class="flex flex-col md:flex-row bg-secondary">
      <div class="basis-1/2 flex flex-col p-8 md:p-12 gap-3 md:gap-6">
        <div class="flex flex-col gap-3 md:gap-6">
          <h2 class="">Renewing the Energy Sector</h2>
          <p class="text-lg">
            Our goal is to be a trusted partner in your company's success, providing the tools you need to manage your
            resources effectively in the dynamic energy landscape. With Markular, you can focus on driving your business
            forward.
          </p>
        </div>
        <div>
          <Button variant="primary" text="Learn More" class="mt-4 md:mb-0 text-base bg-white text-primary" />
        </div>
      </div>
      <div class="basis-1/2 flex items-center">
        <Image
          class="min-w-full h-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={640}
          src="~/assets/images/control_room.png"
          alt="Person in a control room"
        />
      </div>
    </div>
  </SectionLayout>
</Layout>
