---
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';
import SectionLayoutWithBackground from '~/layouts/SectionLayoutWithBackground.astro';

import { Icon } from 'astro-icon/components';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Markular',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <SectionLayout
    classes={{
      background: 'bg-gradient-to-hero from-myellow-300 via-myellow-100 to-myellow-100 animate-gradient-br',
    }}
  >
    <div class="flex flex-col items-center gap-12 md:gap-20">
      <div class="md:w-[48rem] flex flex-col gap-2 md:gap-6 items-start md:items-center">
        <div class="flex flex-col gap-4 md:gap-6 text-start md:text-center">
          <h1>Streamline Personnel Coordination, Scheduling and HR with Markular</h1>

          <p class="text-lg">Say goodbye to fragmented systems, multiple spreadsheets, and manual reporting.</p>
        </div>
        <div>
          <Button variant="primary" text="Learn More" href="#" class="mt-4 md:mb-0 text-base" />
        </div>
      </div>
      <Image
        class="relative h-[197px] md:h-[655px] min-w-full object-cover"
        widths={[400, 768, 1024, 2040]}
        sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
        loading="eager"
        width={800}
        src="~/assets/images/oil_rig_sunset.jpg"
        alt="Oil rig at sunset"
      />
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-gradient-to-b from-myellow-100 via-myellow-100 to-white',
    }}
  >
    <div class="flex flex-col lg:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex flex-col justify-center">
        <div class="flex flex-col gap-3 md:gap-6">
          <div class="flex flex-col gap-5 md:gap-6">
            <div>
              <Icon name="marktopright" class="text-[5rem] text-primary" />
            </div>
            <div class="flex flex-col gap-5 md:gap-6">
              <h2>Save Time Managing Your Workforce</h2>
              <p class="text-lg">
                Streamline workforce scheduling and shift planning with Markular — an intuitive platform made for HR
                Managers and Offshore Coordinators. Get the overview and tools you need to streamline processes today!
              </p>
            </div>
          </div>
          <div>
            <Button variant="secondary" text="Learn More" class="mt-4 md:mb-0 text-base" />
          </div>
        </div>
      </div>

      <div class="basis-1/2 flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={640}
          src="~/assets/images/guy_pointing_at_wrist_watch.jpg"
          alt="Guy pointing at wrist watch"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col lg:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={640}
          src="~/assets/images/project_schedule_week_visualization.jpeg"
          alt="Project schedule week visualization"
        />
      </div>

      <div class="basis-1/2 flex flex-col justify-center">
        <div class="flex flex-col gap-3 md:gap-6">
          <div class="flex flex-col gap-5 md:gap-6">
            <div>
              <Icon name="markperson" class="text-[5rem] text-primary" />
            </div>
            <div class="flex flex-col gap-5 md:gap-6">
              <h2>Empower Your Workforce with Markular: Embrace the Digital Future</h2>
              <p class="text-lg">
                Markular helps you create a fully collaborative, cloud-based workspace that seamlessly turns plans into
                action, ensuring flawless execution.
              </p>
            </div>
          </div>
          <div>
            <Button variant="secondary" text="Book Demo" class="mt-4 md:mb-0 text-base" />
          </div>
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayoutWithBackground
    src="/src/assets/images/oil_rig_sunset.jpg"
    preload="jpg"
    classes={{
      container: 'text-white',
    }}
  >
    <div class="flex flex-col gap-12">
      <div class="text-center md:w-[48rem] self-center">
        <p class="font-bold text-base mb-3 md:mb-4">Maximize</p>
        <h2 class="mb-5 md:mb-6 text-white">Team Efficiency and Productivy</h2>
        <p class="text-base">
          Optimize your business with a platform designed to streamline team management and boost productivity.
        </p>
      </div>
      <div class="flex flex-col lg:flex-row gap-6 md:gap-8">
        <div class="flex flex-col gap-5 p-6 bg-myellow-950/75 backdrop-blur-[5px]">
          <div class="flex flex-col gap-5">
            <div>
              <Icon name="markright" class="text-[3rem] text-secondary" />
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="text-white">Efficient Resource Allocation</h3>
              <p class="text-base">Optimize resource allocation with pinpoint precision.</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Button variant="link" text="Learn More" href="#" class="text-base" />
            <Icon name="tabler:chevron-right" class="text-2xl text-secondary" />
          </div>
        </div>
        <div class="flex flex-col gap-5 p-6 bg-myellow-950/75 backdrop-blur-[5px]">
          <div class="flex flex-col gap-5">
            <div>
              <Icon name="markup" class="text-[3rem] text-secondary" />
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="text-white">Time Tracking and HR Tools</h3>
              <p class="text-base">Streamline performance management using powerful HR tools.</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Button variant="link" text="Learn More" href="#" class="text-base" />
            <Icon name="tabler:chevron-right" class="text-2xl text-secondary" />
          </div>
        </div>
        <div class="flex flex-col gap-5 p-6 bg-myellow-950/75 backdrop-blur-[5px]">
          <div class="flex flex-col gap-5">
            <div>
              <Icon name="marktopright" class="text-[3rem] text-secondary" />
            </div>
            <div class="flex flex-col gap-3">
              <h3 class="text-white">Competency Management</h3>
              <p class="text-base">Ensure certificates are updated by providing a comprehensive overview.</p>
            </div>
          </div>
          <div class="flex gap-2 items-center">
            <Button variant="link" text="Learn More" href="#" class="text-base" />
            <Icon name="tabler:chevron-right" class="text-2xl text-secondary" />
          </div>
        </div>
      </div>
    </div>
  </SectionLayoutWithBackground>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col lg:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-5 md:gap-6">
        <div class="flex flex-col gap-4 md:gap-8">
          <div>
            <p class="font-bold text-base mb-4">Renewing The Energy Sector</p>
            <h2 class="mb-6">Oilfield Service Companies: Experience Excellence with Markular</h2>
            <p class="text-lg">
              Markular is made to drive success in operational management. Our platform integrates seamlessly with
              existing systems, delivering measurable improvements across your entire organization.
            </p>
          </div>
          <div class="flex flex-col gap-2">
            <h6>Increase operational efficiency by 20%</h6>
            <p class="text-base">
              Markular is an integrated management solutions that can increase operational efficiency by up to 20%.
            </p>
          </div>
        </div>
        <div>
          <Button variant="secondary" text="Book Demo" class="mt-4 md:mb-0 text-base" />
        </div>
      </div>

      <div class="basis-1/2 w-full flex flex-col justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={640}
          height={640}
          src="~/assets/images/rig_in_ocean_long_shot.jpeg"
          alt="Over exposed long shot of rig in the ocean"
        />
      </div>
    </div>
  </SectionLayout>

  <section class=`bg-white mx-auto sm:pb-[14rem] relative not-prose`>
    <div class="relative max-w-sm md:max-w-4xl mx-auto px-6 md:px-4 py-6">
      <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
      <div class="bg-accent text-left p-6 md:p-16">
        <div class="flex items-center justify-evenly mb-9">
          <Image
            class=""
            width={120}
            height={50}
            widths={[400, 768]}
            layout="fixed"
            src="~/assets/images/weatherford.png"
            alt="Weatherford logo"
          />
        </div>
        <h3 class="text-xl md:text-2xl text-center">
          Join the ranks of leading oilfield service companies<span class="hidden md:inline-block">
            like Weatherford and Archer</span
          >. Sign up today and gain a competitive edge for tomorrow!
        </h3>
      </div>
    </div>
  </section>

  <SectionLayout>
    <CallToAction />
  </SectionLayout>
</Layout>
