---
import { Icon } from 'astro-icon/components';
import Layout from '~/layouts/PageLayout.astro';
import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';

import Hero from '~/components/widgets/Hero.astro';
import Hero2 from '~/components/widgets/Hero2.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Testimonials from '~/components/widgets/Testimonials.astro';

const metadata = {
  title: 'Markular',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
    actions={[{ variant: 'primary', text: 'Learn More', href: '#features', icon: '' }]}
    image={{ src: '~/assets/images/hero-office.png', alt: 'People in a meeting room' }}
  >
    <Fragment slot="title"> Optimize Your <br />Business with Markular's <br />Solutions </Fragment>

    <Fragment slot="subtitle">
      Markular is a premier SaaS company that offers cutting-edge software solutions tailored for medium to large
      enterprises. Our platform optimizes team composition and productivity, while providing comprehensive HR tools for
      recruitment and performance management.
    </Fragment>
  </Hero>

  <Hero2
    actions={[
      { variant: 'secondary', text: 'Learn More', href: '#features', icon: '', class: "font-['Fira Mono']" },
      { variant: 'link', text: 'Sign Up', href: '#features', icon: 'tabler:chevron-right' },
    ]}
    image={{ src: '~/assets/images/office-guy.png', alt: 'Person in office smiling' }}
  >
    <Fragment slot="tagline">
      <div class="text-left">
        <Icon name="marktopright" class="text-[5rem] text-primary" />
      </div></Fragment
    >
    <Fragment slot="title">
      <div class="text-left">
        Streamline your<br /> team composition<br /> and boost<br /> productivity
      </div></Fragment
    >

    <Fragment slot="subtitle">
      <div class="text-left">
        Markular's premier SaaS platform offers cutting-edge software solutions designed to optimize resource selection
        and personnel management. With comprehensive HR tools, from recruitment to performance management, we ensure
        your team is always at its best.
      </div>
    </Fragment>
  </Hero2>

  <Features2
    classes={{
      container: 'text-white bg-gradient-to-br from-myellow-900 via-myellow-950 to-myellow-950',
    }}
    title="Boost Your Productivity"
    subtitle="Markular's platform helps you optimize team composition and productivity."
    tagline="Streamline"
    items={[
      {
        title: 'Efficient Resource Allocation',
        description: 'Our platform ensures the right resources for each job.',
        icon: 'markright',
        classes: {
          panel: 'bg-myellow-950',
        },
      },
      {
        title: 'Comprehensive HR Tools',
        description: 'Manage recruitment and performance with ease.',
        icon: 'markup',
        classes: {
          panel: 'bg-myellow-950',
        },
      },
      {
        title: 'Seamless Team Collaboration',
        description: "Collaborate effectively with Markular's platform.",
        icon: 'marktopright',
        classes: {
          panel: 'bg-myellow-950',
        },
      },
    ]}
  >
    <Fragment slot="bg">
      <div class="absolute inset-0 bg-blue-50 dark:bg-transparent"></div>
    </Fragment>
  </Features2>

  <Hero2
    actions={[{ variant: 'secondary', text: 'Learn More', href: '#features', icon: '', class: "font-['Fira Mono']" }]}
    image={{ src: '~/assets/images/office-hang.png', alt: '2 people hanging out in the office' }}
    classes={{
      container: 'bg-white',
    }}
  >
    <Fragment slot="tagline">
      <div class="text-left">
        <Icon name="markperson" class="text-[5rem] text-primary" />
      </div></Fragment
    >
    <Fragment slot="title"> <div class="text-left">Boost productivity and optimize team composition</div></Fragment>

    <Fragment slot="subtitle">
      <div class="text-left">
        Markular empowers businesses to streamline resource selection and HR tasks, resulting in increased productivity
        and improved team composition. Our cutting-edge software solutions provide comprehensive tools for recruitment,
        performance management, and more.
      </div>
    </Fragment>
  </Hero2>

  <Hero2
    actions={[
      { variant: 'secondary', text: 'Learn More', href: '#features', icon: '', class: "font-['Fira Mono']" },
      { variant: 'link', text: 'Sign Up', href: '#features', icon: 'tabler:chevron-right' },
    ]}
    image={{ src: '~/assets/images/meeting-room.png', alt: 'people in a meeting room' }}
    classes={{
      container: 'bg-white',
    }}
  >
    <Fragment slot="tagline"> <div class="text-left">Innovative</div></Fragment>
    <Fragment slot="title">
      <div class="text-left">Experience the Power of Markular's Cutting-Edge Solutions</div></Fragment
    >

    <Fragment slot="subtitle">
      <div class="text-left">
        Markular delivers exceptional software solutions that drive productivity and optimize team composition. Our
        platform streamlines resource selection and offers comprehensive HR tools.

        <p class="font-bold">5000+</p>
        <p class="">Increase team productivity with our optimized resource selection.</p>
        <p class="font-bold">98%</p>
        <p class="">Streamline HR tasks and enhance performance management efficiency.</p>
      </div>
    </Fragment>
  </Hero2>

  <Testimonials
    title="Weatherford"
    testimonials={[
      {
        name: 'Geir Ståle',
        job: 'CEO, Weatherford',
        title: 'Revolutionizing HR',
        testimonial:
          'Markular has been a game-changer for us. Their platform has helped us streamline our HR processes and optimize team composition. We are proud to partner with Markular and look forward to continued success.',
      },
    ]}
    classes={{
      container: 'bg-white text-center',
    }}
  />

  <section class="bg-accent py-16">
    <div class="relative max-w-7xl mx-5">
      <div class="pt-0 md:pt-[76px] pointer-events-none"></div>
      <div>
        <div class="basis-1/2 bg-secondary py-8 text-left px-8 mx-auto">
          <h1 class="text-[2.5rem]/[3rem] md:text-6xl font-semibold mb-4 font-heading dark:text-gray-200">
            Discover the Power of Markular
          </h1>

          <div class="max-w-3xl mx-auto lg:max-w-none">
            <p class="text-xl text-muted mb-6 dark:text-slate-300">
              Streamline your team composition and boost productivity with Markular's cutting-edge software solutions.
            </p>

              <div class="max-w-xs sm:max-w-md flex flex-nowrap flex-row items-start gap-[1.5rem]">
                <div class="flex my-auto">
                  <Button class="w-full text-base bg-white">Learn More</Button>
                </div>
            </div>
          </div>
        </div>
        <div class="basis-1/2">
          <div class="relative m-auto max-w-5xl">
            <Image
              class="mx-auto w-full"
              widths={[400, 768, 1024, 2040]}
              sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
              loading="eager"
              width={600}
              height={600}
              src="~/assets/images/tennis_balls.png"
              alt="people in a meeting room"
            />
          </div>
        </div>
      </div>
    </div>
  </section>

</Layout>
