---
import Layout from '~/layouts/PageLayout.astro';
import SectionLayout from '~/layouts/SectionLayout.astro';
import SectionLayoutWithBackground from '~/layouts/SectionLayoutWithBackground.astro';

import Button from '~/components/ui/Button.astro';
import Image from '~/components/common/Image.astro';
import { Icon } from 'astro-icon/components';

import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Logistics and Equipment Rental',
};
---

<Layout metadata={metadata}>
  <SectionLayoutWithBackground
    src="/src/assets/images/2_people_infront_of_a_screen.jpeg"
    preload="jpeg"
    blur={1.5}
    brightness={0.4}
    classes={{
      container: 'text-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-12 md:gap-20">
      <div class="basis-1/2 flex flex-col justify-center">
        <div class="flex flex-col gap-3 md:gap-6">
          <h1 class="text-secondary">Equipment Rental: From Contract to Billing</h1>
          <div class="">
            <p class="text-lg">
              Tools ERP system simplifies project and equipment rental management, offering unparalleled capabilities
              across multiple locations.
            </p>
          </div>
          <div class="flex mt-10 md:mt-4 md:mb-0">
            <Button variant="primary" text="Book Demo" href="/contact#contact-form" class="text-base" />
          </div>
        </div>
      </div>
    </div>
  </SectionLayoutWithBackground>

  <SectionLayout classes={{ background: 'bg-gradient-to-b from-myellow-100 via-white to-white' }}>
    <div class="flex flex-col gap-12 md:gap-20">
      <div class="md:w-[48rem]">
        <p class="font-bold text-base mb-4">Streamline</p>
        <h2 class="mb-6">Streamline Your Projects with Our ERP Solution</h2>
        <p class="text-lg">
          Tools is a premier ERP module offering a range of features designed to optimize project management, equipment
          rental, and task execution. With our cutting-edge software solutions, medium to large enterprises can
          streamline their operations and maximize productivity.
        </p>
      </div>
      <div class="flex flex-col gap-4 md:gap-12">
        <div class="flex flex-col md:flex-row gap-12">
          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>Financial Control</h4>
            <p class="text-base">Maintain accurate and real-time financial oversight. Efficient budget management.</p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>ERP Integration</h4>
            <p class="text-base">From purchase order to shipping, we integrate with other ERP systems.</p>
          </div>

          <div class="basis-1/3 flex flex-col gap-4 md:gap-6">
            <Icon name="marktopright" class="text-[3rem] text-primary" />
            <h4>KPI Analysis</h4>
            <p class="text-base">Performance tracking with detailed KPI analysis and reporting.</p>
          </div>
        </div>
        <div>
          <Button variant="secondary" text="Learn More" class="mt-10 md:mt-4 md:mb-0 text-base" />
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col md:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:gap-8">
        <h3 class="basis-1/2">Digitize Equipment Assembly for Comprehensive Tracking</h3>
      </div>
      <div class="basis-1/2 flex flex-col gap-6 md:gap-8">
        <div class="basis-1/2 flex text-lg">
          Efficiently prepare and assemble the necessary equipment for each job. Unify data from purchase orders,
          experience databases and equipment lists.
        </div>
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col lg:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col md:flex-row md:items-center gap-12 md:gap-20">
        <div class="flex flex-col gap-6">
          <h3>Monitor Project Performance Across Departments</h3>
          <p>
            Managers, project engineers and technicians get a accurate and timely overview, ensuring projects stay on
            track and on budget.
          </p>
        </div>
      </div>

      <div class="basis-1/2 flex flex-col justify-center h-[40rem]">
        <Image
          class="min-w-full flex-1"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/tools_control.jpeg"
          alt="Person testing equipment in a control room"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <div class="flex flex-col gap-6 md:gap-20">
      <div class="flex flex-col md:flex-row gap-6 md:gap-20">
        <div class="basis-1/2 flex flex-col md:gap-8">
          <h3 class="basis-1/2">Enhance Safety and Quality with Your Custom Experience Database</h3>
        </div>
        <div class="basis-1/2 flex flex-col gap-6 md:gap-8 text-lg">
          With the experience database, you can easily access and share best practices and lessons learned. Gain
          insights that increase the safety and quality of your operations.
        </div>
      </div>

      <div class="w-full flex justify-center">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={576}
          src="~/assets/images/filling_a_form.jpg"
          alt="Person filling out a form"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout
    classes={{
      background: 'bg-white',
    }}
  >
    <div class="flex flex-col lg:flex-row gap-6 md:gap-20">
      <div class="basis-1/2 flex flex-col gap-3 md:gap-6">
        <div class="flex-1 flex flex-col justify-center gap-3 md:gap-6">
          <div class="flex flex-col gap-4 md:gap-8">
            <div>
              <p class="font-bold text-base mb-4">Empowering Excellence</p>
              <h2 class="mb-6">PROMA: Logistics and Rental Management</h2>
              <p class="text-lg">
                PROMA ensures full control throughout all project phases. Systematize logistics and rental to create
                visibility and simplicity.
              </p>
            </div>
            <div class="flex gap-6">
              <div class="basis-1/2 flex flex-col gap-4">
                <h6>Simplify Project Management</h6>
                <p class="text-base">
                  Get control right from contracting to billing. Each department and staff get full control of their
                  task.
                </p>
              </div>
              <div class="basis-1/2 flex flex-col gap-4">
                <h6>Minimize Human Error</h6>
                <p class="text-base">Helps you minimize errors by providing a comprehensive experience database.</p>
              </div>
            </div>
          </div>
          <div>
            <Button
              variant="secondary"
              text="Book Demo"
              href="/contact#contact-form"
              class="my-10 md:mt-4 md:mb-0 text-base"
            />
          </div>
        </div>
      </div>

      <div class="basis-1/2 flex justify-center h-[40rem]">
        <Image
          class="min-w-full"
          widths={[400, 768, 1024, 2040]}
          sizes="(max-width: 767px) 400px, (max-width: 1023px) 768px, (max-width: 2039px) 1024px, 2040px"
          loading="eager"
          width={1024}
          height={640}
          src="~/assets/images/2_offshore_guys.jpeg"
          alt="Two offshore workers looking at some plans"
        />
      </div>
    </div>
  </SectionLayout>

  <SectionLayout>
    <CallToAction />
  </SectionLayout>
</Layout>
