---
import { twMerge } from 'tailwind-merge';
import { BackgroundImage } from 'astro-imagetools/components';

export interface Props {
  classes?: {
    container?: string;
    background?: string;
  };
  blur?: number | boolean;
  brightness?: number;
  src: string;
  preload?: 'jpg' | 'webp' | 'jpeg' | 'png';
}

const { classes = {}, blur, src, preload, brightness } = Astro.props;

const { container: containerClass = '' } = classes;
---

<BackgroundImage
  src={src}
  backgroundSize="cover"
  tag="section"
  format={['webp', 'jpg', 'jpeg']}
  blur={blur ?? false}
  preload={preload ?? 'jpg'}
  brightness={brightness ?? false}
  attributes={{
    link: {
      fetchpriority: 'high',
    },
  }}
>
  <div class={twMerge('max-w-[1440px] mx-auto px-6 py-16 pb-16 md:px-16 md:py-28', containerClass)}>
    <div class="pt-0 pointer-events-none"></div>
    <slot />
  </div>
</BackgroundImage>
<!-- </section> -->
